@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --blue:#5555b7;
    --black:#2c2c54;


}

*{
    font-family: 'Nunito'sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 200ms ease-in;
}
*::selection{
    background: var(--blue);
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}
body {
    height: 200rem;
}
section{
    padding: 2rem 9%;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background: #070724;
    color: #fff;
    padding: .8rem 3rem;
    border-radius: 10px;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    padding: 10px;;
}
.heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 3.5rem;
}
.heading span{
    color: var(--blue);
    text-transform: uppercase;
}
.header-1{
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
.logo{
    color: var(--black);
    font-weight: bolder;
    font-size: 3rem;
}
.logo i{
    padding-right: .5rem;
    color: var(--blue);
}
.header-1 .search-box-container{
    display: flex;
    height: 5rem;
}
.header-1 .search-box-container #search-box{
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}
.header-1 .search-box-container label{
    height: 100%;
    width: 8rem;
    font-size: 2.5rem;
    line-height: 5rem;
    color: #fff;
    background: var(--blue);
    text-align: center;
    cursor: pointer;
}
.header-1 .search-box-container label:hover{
    background: var(--black);
}
.header-2 {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
}
.header-2.active{
    position: fixed;
    top: 0; left:0; right: 0;
    z-index: 10000;
}
.header-2 .navbar a{
    padding: .5rem 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--black);
}
.header-2 .navbar a:hover{
    background: var(--blue);
    color: #fff;
}
.header-2 .icons a{
    font-size: 3rem;
    color: var(--black);
    padding-left: 1rem;
}
.header-2 .icons a:hover{
    color: var(--blue);
}
#menu-bar{
    font-size: 3rem;
    border-radius: .5rem;
    border: .1rem solid var(--black);
    padding: .8rem 1.5rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.home .image{
    flex: 1 1 40rem;
    padding-top: 5rem;
}
.home .image img {
    width: 100%;
}
.home .content{
    flex: 1 1 40rem;
    padding-left: 45px;
}
.home .content span{
    font-size: 3rem;
    color: #666;
}
.home .content h3{
    font-size:5rem;
    color:var(--black);
}
.banner-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.banner-container .banner{
    flex: 1 1 40rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-container .banner .content{
    position: absolute;
    top: 50%; left: 4%;
    transform: translateY(-50%);
} 
.banner-container .banner .content h3{
    font-size: 3rem;
    color: var(--black);
}
.banner-container .banner .content p{
    font-size: 2rem;
    color: #333;
}
.banner-container .banner:hover img{
    transform: scale(1.2) rotate(-5deg);
}
.category .box-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.category .box-container .box{
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    padding: 2rem;
    flex: 1 1 25rem;
}
.category .box-container .box img{
    width: 20rem;
    margin: .5rem 0;
}
.category .box-container .box h3{
    font-size: 3.5rem;
    color: var(--black);
}
.category .box-container .box p{
    font-size: 2rem;
    color: var(--blue);
    padding: .5rem 0;
}
.category .box-container .box .btn{
    display: block;
}
.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.product .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    padding: 2rem;
    border: .1rem solid #0406134d;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}
.product .box-container .box img{
    height: 20rem;
    width: 25rem;
}
.product .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    background: #0e3e711a;
    color: #0b0b16;
    padding: .7rem 1rem;
    font-size: 2rem;
}
.product .box-container .box .icons{
    position: absolute;
    top: .5rem; right: -6rem;
}
.product .box-container .box:hover .icons{
    right: 1rem;
}
.product .box-container .box .icons a{
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--black);
    background: rgba(72, 53, 6, 0.05);
    border-radius: 50%;
    margin-top: .7rem;
}
.product .box-container .box .icons a:hover{
    background: var(--black);
    color: #fff;
}
.product .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}
.product .box-container .box .stars i{
    padding: 1rem .1rem;
    font-size: 1.7rem;
    color: gold;
}
.product .box-container .box .price{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}
.product .box-container .box .price span{
    font-size:1.5rem;
    color: #999;
    text-decoration: line-through;
}
.product .box-container .box .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}
.product .box-container .box .quantity span{
    padding: 0 .7rem;
    font-size: 1.7rem;
}
.product .box-container .box .quantity input{
    border: .1rem solid rgba(0,0,0,.3);
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
    padding: .5rem;
    background: rgba(0,0,0,.05);
}
/* .product .box-container .box .btn{
    display: block;
} */

.deal{
    background: url(/images/background\ 5.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.deal .content{
    max-width: 50rem;
    padding: 1rem 0;
    color: #050309;
}
.deal .content .title{
    font-size: 4rem;
    color: var(--black);
}
.deal .content .count-down{
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
}
.deal .content .count-down .box{
    width: 9rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
}
.deal .content .count-down .box h3{
    color: var(--black);
    background: #fff;
    height: 7rem;
    line-height: 7rem;
    width: 100%;
    font-size: 5rem;
}





















/* media queries */
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    
}
@media (max-width:991px) {
   .header-1,
   .header-2{
    padding: 2rem;
   }
   .section{
    padding: 2rem;
   }

}
@media (max-width:768px) {
    #menu-bar {
       display: initial;
    }
    .header-2 .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: var(--black);
        padding: 1rem 2rem;
        display: none;
    }
    .header-2 .navbar.active{
        display: initial;
    }
    .header-2 .navbar a{
        font-size: 2.5rem;
        display: block;
        text-align: center;
        background: #fff;
        padding: 1rem;
        margin: 1.5rem 0;
    }
    .home .content{
        text-align: center;
    }
    .home .content h3{
        font-size: 4rem;
    }
}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }
    .header-1{
        flex-flow: column;
    }
    .header-1 .search-box-container{
        width: 100%;
        margin-top: 2rem;
    }
    .logo{
        font-size: 4rem;
    }

}